/*! 
 *  Written for: Light weight customized checkboxes and radio buttons jquery plugin
 *  Author: @ElmahdiMahmoud
 *  updated: 11.12.13
 *  license: under MIT License - http://www.opensource.org/licenses/mit-license.php
 */

/**
 * The default value declared within a comment side to each property.
 *
 * TODO: Do not use 'important!'
 */

/* ==========================================================================
   Checkbox rules
   ========================================================================== */

/* case: default */
label.ccbx span { 
    width: ;        /* 16px */
    height: ;       /* 16px */
    margin-right: ; /* 5px */
    border-color: ; /* #ccc */
}

/* case: default:hover */
label.ccbx:hover span { border-color: ; } /* #25303c */

/* case: disabled */
label.ccbx.disabled              { color: ; }            /* #ddd */
label.ccbx.disabled span         { border-color: ; }     /* #ddd */
label.ccbx.checked.disabled span { background-color: ; } /* #ddd */

/* case: disabled:hover */
label.ccbx.disabled:hover span   { border-color: ; } /* #ddd */

/* case: active */
label.ccbx.checked span { 
    background-color: ; /* #25303c */
    border-color: ;     /* #25303c */
}

/* checkmark-icon (✔) */
label.ccbx i {
    background: ; /* url('') */
    width: ;      /* 16px */
    height: ;     /* 16px */
}

/* ==========================================================================
   Radio buttons rules
   ========================================================================== */

/* case: default */
label.crbtn span {
    width: ;  /* 17px */
    height: ; /* 17px */
    margin-right: ; /* 5px */
    border-color: ; /* #ccc */
}
label.crbtn span i {
    background-color: ; /* transparent */
    width: ; /* 11px */
    height: ; /* 11px */
}

/* case: disabled */
label.crbtn.disabled               { color: ; } /* #ddd */
label.crbtn.disabled span          { border-color: ; } /* #ddd */
label.crbtn.pushed.disabled span i { box-shadow:; } /* inset 0 0 9px #ddd */

/* case: active */
label.crbtn.pushed span i { box-shadow: ; } /* inset 0 0 9px #25303c */
