/*! 
 *  Written for: Light weight customized checkboxes and radio buttons jquery plugin
 *  Author: @ElmahdiMahmoud
 *  updated: 03.12.13
 *  license: under MIT License - http://www.opensource.org/licenses/mit-license.php
 *
 * BESIDE EACH PROPERTY A COMMENTED DEFAULT VALUE.
 *
 * You don't have to use "!important"!
 */

/*=== CHECKBOX ============================*/
/* default */
label.ccbx span { 
    width: ;        /* 16px */
    height: ;       /* 16px */
    margin-right: ; /* 5px */
    border-color: ; /* #ccc */
}

/* default:hover */
label.ccbx:hover span { border-color: ; } /* #25303c */

/* disabled */
label.ccbx.disabled              { color: ; }            /* #ddd */
label.ccbx.disabled span         { border-color: ; }     /* #ddd */
label.ccbx.checked.disabled span { background-color: ; } /* #ddd */

/* disabled:hover */
label.ccbx.disabled:hover span   { border-color: ; } /* #ddd */

/* active */
label.ccbx.checked span { 
    background-color: ; /* #25303c */
    border-color: ;     /* #25303c */
}

/* checkmark */
label.ccbx i {
    background: ; /* url('') */
    width: ;      /* 16px */
    height: ;     /* 16px */
}

/*=== RADIOBUTTON =========================*/
/* default */
label.crbtn span {
    width: ;  /* 17px */
    height: ; /* 17px */
    margin-right: ; /* 5px */
    border-color: ; /* #ccc */
}
label.crbtn span i {
    background-color: ; /* transparent */
    width: ; /* 11px */
    height: ; /* 11px */
}

/* disabled */
label.crbtn.disabled               { color: ; } /* #ddd */
label.crbtn.disabled span          { border-color: ; } /* #ddd */
label.crbtn.pushed.disabled span i { box-shadow:; } /* inset 0 0 9px #ddd */

/* active */
label.crbtn.pushed span i { box-shadow: ; } /* inset 0 0 9px #25303c */











